
.main-cart-button{
    justify-content: center;
    top: 5px;
    right: 5px;
    position: fixed;
    z-index: 999;
    display: flex;
    cursor: pointer;
    padding: .3rem;
    height: 30px;
    width: 30px;
    background: #09f;
    align-items: center;
    border-radius: 9999px;
    transition: all .3s ease;
}

.main-cart-button:hover {
    scale: 1.1; 
}
.cart h2 {
    color: #fff;
    background: none;
    margin-bottom: 3rem;
}
.cart {
    background: #111;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 15rem;
    padding: .9rem;
    overflow: overlay;
}
.cart::-webkit-scrollbar{
    display: none; /*por defecto le indicamos que la barra no se muestre*/
  
}
.main-cart-button * {
    background: none;
}

.main-cart-button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
}

.cart small {
    background: none;
    color: #fff;
    font-weight: bold;
}
.cart div {
    background: none;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.cart ul {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cart button {
    width: 5rem;
}
.cart img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.cart strong {
    background: none;
    color: #fff;
}
.cart li {

    border-radius: 8px;
    padding: .5rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;

}