* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

.app{
    height: 100vh;
    width: 100%;
    display: flex;
}
.principal-info-weather-data__search{
    flex-wrap: wrap;
    background: #161935;
    height: 100vh;
    flex-grow: 1;
    display: none;
    justify-content: space-evenly;
    transition: 0.5s all;
    
}
.principal-info-weather-data__search input{
    padding-left: 10px;
    margin-top: -430px;
    width: 70%;
    height: 40px;
    background: transparent;
    border: 1px solid #aaa;
    color: #fff;
}
.principal-info-weather-data__search button {
    background: #44f;
    color: #fff;
    margin-top: -430px;
    height: 40px;
    width: 18%;
    border: none;
}
.principal-info-weather-data__search button:hover{
    cursor: pointer;
}
.principal-info-weather-data__search__icon {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 15px;
    color: #fff;
    height: 10px;
    width: 100%;
    flex-grow: 1;
    text-align: right;
}
.principal-info-weather-data__search__icon:hover {
    cursor: pointer;
}
.principal-info-weather-data {
    flex-wrap: wrap;
    background: #161935;
    height: 100vh;
    width: 25%;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}
.principal-info-weather-data__info{
    display: flex;
    height: 100vh;
    width: 100%;
    background: #161935;
    flex-direction: column;
    
}
.principal-info-weather-data__info-button{
    margin-top: -30px;
    margin-left: 400px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #777 ;
    text-align: center;
    
}
.principal-info-weather-data__info-button:hover{
    cursor: pointer;
}
.principal-info-weather-data__info-button i {
    color: #ddd;
}
.principal-info-weather-data__info-btnSearch {
    height: 30px;
    width: 120px;
    margin-left: 40px;
    margin-top: 20px;
    color: #ddd;
    border: none;
    background: #777;
    box-shadow: 0px 2px 8px 0 #222; 

}
.principal-info-weather-data__info-btnSearch:hover {
    cursor: pointer;
}
.principal-info-weather-data__info-containerImg{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.principal-info-weather-data__info-containerImg img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}
#temperature {
    text-align: center;
    font-size: 90px;
    color: #fff;
    margin-top: 150px;
    font-weight: 900;
}
#data-weather {
    text-align: center;
    color: #fff;
    margin-top: 80px;
    font-size: 35px;
    font-weight: 100;
    opacity: 0.6;
}
#date {
    text-align: center;
    color: #fff;
    margin-top: 80px;
    opacity: 0.4;
    font-size: 18px;
}
#location {
    text-align: center;
    color: #fff;
    opacity: 0.4;
    margin-top: 20px;
    font-size: 18px;
}

#secondary-date{
    color: #fff;
    font-size: large;
    opacity: 0.7;
    font-size: 20px;
}
#secondary-temp{
    color: #fff;
    font-size: large;
    opacity: 0.7;
    
}
p span { 
    padding: 15px;
    font-size: 20px;
}
p i {
    padding-right: 5px;
}
.container-secondary-info{
    background: #001;
    width: 75%;
    height: 100vh;
    flex-grow: 1;
}
.time-cards-container{
    display: flex;
    margin: 100px auto;
    width: 70%;
    height: 250px;
    justify-content: space-between;
}
.time-cards-container__card{
    background: #161935;
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items:center;
}

.time-cards-container__card-containerImg{
    width: 100px;
    height: 100px;
    
}
.time-cards-container__card-containerImg img{
    width: 100px;
    height: 100px;
}
h2{
    color: #fff;
    width: 70%;
    text-align: left;
    margin: -40px auto;
}
.hightlights-container-master {
    margin:60px auto;
    width: 70%;
    height: 500px;
}
.hightlights-container-master__information1{
    width: 100%;
    height: 50%;
    display: flex;
}
.hightlights-container-master__information1-wind{
    background: #161935;
    height: 250px;
    width: 50%;
    flex-grow: 1;
    margin-right: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
.hightlights-container-master__information1-wind__title{
   color: #fff;
   font-size: 25px;
}
#wind-velocity{
    color: #fff;
    font-size: 50px;
}
#wind-velocity::first-letter {
    font-size: 80px;
}

#wind-direction{
    color: #fff;
    font-size: 25px;
}
#wind-velocity-magnitude{
    font-size: 30px;
}
.hightlights-container-master__information1-humidity{
    background: #161935;
    height: 250px;
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
.hightlights-container-master__information2{
    width: 100%;
    height: 50%;
    display: flex;
}
.hightlights-container-master__information2-visibility{
    margin-top: 40px;
    background: #161935;
    height: 180px;
    width: 50%;
    flex-grow: 1;
    margin-right: 40px;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
.hightlights-container-master__information2-airPresure{
    margin-top: 40px;
    background: #161935;
    height: 180px;
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;

}

#humidity-value{
    color: #fff;
    font-size: 50px;
}
#humidity-value::first-letter{
    font-size: 70px;
}

#visibility-value::first-letter{
font-size: 70px;
}
#visibility-value {
    color: #fff;
    font-size: 50px;
}

#air-pressure-value{
    font-size: 50px;
    color: #fff;
}





