.app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.app-title {
    font-size: 40px;
}

.main {
    padding: .5rem;
    display:flex;
    align-self: center;
    justify-self: center;
    height: 25rem;
    gap: .5rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50rem;
}

.main-article {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;  
    height: 100%; 
}

.main-article-dateContainer {
    border: 4px solid #7E4A1B;
    border-radius: 8px;
    height: 3.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-article-input {
    height: 100%;
    height: 100%;
}
.main-article-input textarea {
    outline: 4px solid green;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    resize: none;
}

.main-container button {
    border-radius: 8px;
    width: 10%;
    align-self: center;
    margin-top: .4rem;
    cursor: pointer;
}

.main-aside{
    border-radius: 8px;
    border: 4px solid #fff;
    width: 18rem;
    height: 100%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;   
}

.main-aside-containerNotes {
    align-self: center;
    border-bottom: 4px solid rgba(0, 100, 0, .7);
    width: 90%;
    text-align: center;
}

.main-aside-title {
    background: #fff;
    width: 100%;
    text-align: center;
    align-self: center;
}